* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fff;
    height: 100vh;
}

.nav-bar {
    display: flex;
    list-style-type: none;
    width: 17vw;
    height: 100vh;
    background-color: var(--color-primary);
}

.li {
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
    width: 100%;
    height: 100%;
}

li a {
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-button-text);
}

li a i {
    margin-right: 1rem;
    align-items: flex-start;

}

li:hover {
    background-color: var(--color-primary-hover);
}